<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="xD" value="D:\" />
  </appSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWatcherService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/WatcherService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWatcherService" contract="ServiceReference1.IWatcherService"
                name="NetTcpBinding_IWatcherService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-42MG76H" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>